* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

body, html {
    height: 85%;
    margin: 0;
}

body {
    margin-top: 100px;
    margin-left: 20px;
    background-color: #e5f2e5; 
}

#id {
    display: flex;
}

h1 {
    margin-left: 15px;
    color: #9ac500; 
}

.navLateral {
    
    background-color: #ffffff;
    text-align: left;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 2;
    left: 0;
    padding-top: 20px;
    overflow-x: hidden;
    box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.1);
}

.navLateral h2 {
    font-size: 15px;
    color: #006400; 
margin-left: 5px;}

.navLateral a {
    font-size: 13px;
    font-weight: bold;
    color: #006400; 
}

.indexA {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: #9ac500; 
    display: block;
}

.indexA:hover {
    background-color: #ccffcc; 
    border-radius: 5px;
}

.profileImg {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    z-index: 1;
}

.profileUser {
    width: 80%;
    height: 2.5rem;
    margin: 20px auto;
    display: flex;
    border-radius: 25px;
}

.userNameRedirection {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #59e659; 
    border-radius: 95px;
    margin-left: -42px;
    padding-left: 50px;
    padding-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.userNameRedirection:hover {
    background-color: #c6f02e; 
}

.anyadirComentario {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #59e659; 
    border-radius: 5px;
    background-color: #59e659; 
    transition: background-color 0.3s, color 0.3s;
}

.anyadirComentario:hover {
    background-color: #9ac500; 
    color: #ffffff;
    cursor: pointer;
}

.anyadirComentarioTexto {
    color: #59e659; 
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #59e659; 
    border-radius: 5px;
    background-color: #ccffcc; 
    transition: background-color 0.3s, color 0.3s;
}

.anyadirComentarioTexto:hover {
    background-color: #9ac500; 
    color: #ffffff;
    cursor: text;
}

.iniciaSesion {
    color: #59e659; 
    text-decoration: none;
    transition: color 0.3s;
}

.iniciaSesion:hover {
    color: #9ac500; 
    text-decoration: none;
    cursor: pointer;
}

.paginaDiv {
    margin-left: 230px;
    margin-right: -8px;
    background-color: #f0fff0; 
    padding: 20px;
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba(108, 255, 108, 0.5), rgba(0, 100, 0, 0.5));
    overflow-y: hidden;
}

.sectionPresentacion {
    background: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sectionPresentacion h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #9ac500; 
}

.sectionPresentacion p {
    font-size: 1.2em;
    color: #666666; 
}

.section1 {
    padding: 20px;
    margin: 10px 0;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #9ac500; 
}

section p {
    font-size: 1em;
    color: #333333; 
    margin-bottom: 10px;
}

.testimonial {
    margin-bottom: 20px;
    background: #f0f8ff; 
    padding: 15px;
    border-radius: 5px;
}

.testimonial p {
    font-size: 1em;
    color: #333333; 
}

.stars {
    color: #ffd700;
}

#gestionGlobal {
    padding: 20px;
    margin: 10px 0;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    justify-content: center;
    align-items: center;
}

#gestionBotones {
    display: flex;
    margin-left: 250px;
    width: 75%;
    flex-wrap: wrap;
}

#gestionBotones button {
    height: 150px;
    width: 250px;
    padding: 15px 30px;
    margin: 40px;
    border: 2px solid #9ac500; 
    background-color: #59e659; 
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

#gestionBotones button:hover {
    background-color: #004d00; 
    cursor: pointer;
}

footer nav ul li {
    display: inline-block;
}

.divFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 230px;
    margin-bottom: -10px;
    margin-right: -8px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logoHeader {
    font-size: 15px;
    text-decoration: none;
    color: #9ac500; 
}

header div a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #9ac500; 
}

.loginBtn {
    color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    margin-right: 20px;
    background-color: #59e659; 
    transition: background-color 0.3s;
}

.loginBtn:hover {
    background-color: #9ac500; 
}

.registerBtn {
    margin-left: 5px;
    color: #ffffff;
    border: 2px solid #9ac500; 
    background-color: #59e659; 
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.registerBtn:hover {
    background-color: #004d00; 
}

.formularios {
    padding-left: 6px;
}

.formularios .formularioVerde {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.formularios .formularioVerde table tr td p {
    font-size: 14px;
    font-weight: bold;
}

.formularios .formularioVerde1, .formularioVerde2 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    max-width: 390px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.formularioVerde2 label {
    font-weight: bold;
}

span {
    font-weight: 60054;
}

.tablaProfYRank {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border: 0;
}

.tablaProfYRank th, .tablaProfYRank td {
    padding: 12px 15px;
    border: 0;
}

.tablaProfYRank th {
    background-color: #59e659; 
    color: #ffffff;
    font-weight: bold;
    border: 0;
}

.tablaProfYRank tr {
    background-color: #e5f2e5; 
}

.tablaProfYRank tr:nth-child(even) {
    background-color: #ccffcc; 
}

.tablaProfYRank tr:hover {
    background-color: #b3e6b3; 
}

.tablaProfYRank img {
    width: 50px;
    height: 50px;
}

#infoUser {
    background-color: #ffffff;
    padding: 0.5px 10px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#formUpdateUser label {
    display: block;
    margin-bottom: 10px;
}

#formUpdateUser input, #formUpdateUser select {
    display: block;
}

.reserva {
    background-color: #ffffff;
    padding: 20px;
    font-size: 15px;
    color: #9ac500; 
    text-align: center;
    margin: 40px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reserva h2 {
    margin-top: 0;
}

.reserva p {
    margin: 10px 0;
}
