

    </div>
    <footer class="divFooter">
        <a href="index.php"><img src="./components/src/logoPadel.png" alt="Logo Pádel" width="75"></a>
        <p>Carrer d'Aiguablava, 121, 08033 Barcelona</p>
        <nav>
            <ul>
                <li><a href="http://instagram.com" target="_blank"><img src="./components/src/logoIG.png" alt="Logo IG" width="20" height="20"></a></li>
                <li><a href="http://facebook.com" target="_blank"><img src="./components/src/logoFB.png" alt="Logo Facebook" width="20" height="20"></a></li>
                <li><a href="http://twitter.com" target="_blank"><img src="./components/src/logoTwitter.png" alt="Logo Twitter" width="20" height="20"></a></li>
                <li><a href="http://youtube.com" target="_blank"><img src="./components/src/logoYT.png" alt="Logo YouTube" width="20" height="20"></a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>